extends ../shared/template

block content

  .create
    a.createClick(href='/heroes/new') Create A Hero!

  form(method='POST', action='/heroes')
    select(name='armor')
      option Iron Man
      option Captain America
      option Wolverine
      option Deadpool
    select(name='position')
      option head
      option body
      option legs
    button Find

  #heroes
    each hero in heroes
      #hero(style='background-image: url(/img/#{hero.photoBanner})')
        .name
          a.heroName(href='/heroes/#{hero._id}')= hero.name

        .heroHead(style='background-image: url(/img/#{hero.photoHead})')
        .heroBod(style='background-image: url(/img/#{hero.photoBod})')
        .heroLegs(style='background-image: url(/img/#{hero.photoLegs})')

        .delete
          form(action='/heroes/#{hero._id}/delete', method='POST')
            button#delete DELETE
