extends ../shared/template

block content
  h2= hero.name

  #hero(style='background-image: url(/img/#{hero.photoBanner})')
    .heroHead(style='background-image: url(/img/#{hero.photoHead})')
    .heroBod(style='background-image: url(/img/#{hero.photoBod})')
    .heroLegs(style='background-image: url(/img/#{hero.photoLegs})')
